body {
    background-color:#333;
    font-family:Arial, Helvetica, sans-serif;
}
 
#twitter-feed {
    width:400px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:10px;
    padding:8px 10px 5px 10px;
    border-radius:12px;
    background-color:#FFF;
    color:#333;
    overflow:auto;
}
#twitter-feed h1 {
    color:#5F5F5F;
    margin:0px;
    padding:9px 0px 9px 0px;
    font-size:18px;
    font-weight:lighter;
}

.twitter-article, #loading-container {
    width:95%;
    border-top:1px dotted #CCC;
    float:left;
    padding:8px 0px 8px 0px;
}

.tweetImage {
	clear: both;
	display: block;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.tweetImage img {
	border: 1px lightgray solid;
	border-radius: 10px;	
}

.retweetedBy {
	color: rgb(112, 112, 112);
	font-size: 0.75em;
	margin-left: 4px;
}

.retweetedBy a:link {
	color: rgb(112, 112, 112);
}

.retweetedBy a:visited {
	color: rgb(112, 112, 112);
}

.retweetedBy a:hover {
	color: rgb(112, 112, 112);
}

#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;
}
.twitter-pic {
    float:left;
}
 
.twitter-pic img {
    float:left;
    border-radius:7px;
    border:none;
 
}

 img  {
     border:none;
 }
.twitter-text p {
    margin:0px;
    /*line-height:15px;*/
}
.twitter-text a,  h1 a {
    color: #00acee;
    text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
    color: #00acee;
}
 
.twitter-text {
    width:325px;
    float:left;
    font-size:1.2em;
    padding-left: 11px;
    text-transform:none;
}
 
.tweet-time {
    font-size:10px;
    color:#878787;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
    color:#878787;
}
.tweetprofilelink a {
    color:#444;
}
.tweetprofilelink a:hover {
    color:#444;
}
.backlink {
    font-size:11px;
    text-align:center;
}
 
.backlink a {
    color:#aaa;
}

@media screen and (max-width: 450px) {
	#twitter-feed {
	    width:250px;
	}
	
	.twitter-text {
	    width:175px;
	}
	
	.tweetImage {
		display: none;
	}
}