vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Jun 2013 17:46:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|MININT-7KSM8UI\\Administrator
vti_modifiedby:SR|MININT-7KSM8UI\\Administrator
vti_timecreated:TR|01 Jun 2013 21:03:06 -0000
vti_syncofs_www.mrcullen.net\:21/public_html/rossett:TW|13 Jun 2013 23:12:37 -0000
vti_syncwith_www.mrcullen.net\:21/public_html/rossett:TX|13 Jun 2013 23:12:27 -0000
vti_nexttolasttimemodified:TW|15 Jun 2013 17:44:22 -0000
vti_syncwith_custweb04.vws.ifl.net\:21:TX|15 Jun 2013 17:46:05 -0000
vti_syncofs_custweb04.vws.ifl.net\:21:TW|09 Sep 2013 20:36:58 -0000
vti_syncofs_ftp.mrcullen.net\:21/public_html/rossett:TW|15 Jun 2013 17:46:24 -0000
vti_syncwith_ftp.mrcullen.net\:21/public_html/rossett:TX|15 Jun 2013 17:46:05 -0000
vti_cacheddtm:TX|15 Jun 2013 17:46:05 -0000
vti_filesize:IR|6884
vti_cachedlinkinfo:VX|S|../images/news_background.jpg
vti_cachedsvcrellinks:VX|FSUS|images/news_background.jpg
